Source of data can be obtained [here](https://github.com/CSSEGISandData/COVID-19) - provided by John Hopkins University.

In [1]:
from datetime import date
from datetime import timedelta
from typing import TypeVar
import pandas as pd
pd.options.display.max_rows=5000
DataFrame = TypeVar('pd.core.frame.DataFrame')

In [2]:
def getCoronaVirusDataUSA(iso_date: str, by: str) -> DataFrame:
    """ Obtain counts of confirmed and deaths from SARS-COV-2 / Covid-19 in the U.S. for a single, specific date
    
    Parameter
    ---------
    iso_date : str
        Date in ISO format ('YYYY-MM-DD') for which you want the counts from
    by : str, valid values are 'state' | 'county'
        Indicates that you want counts by state or by county
        
    Returns
    -------
    Pandas dataframe containing confirmed counts by US states
    
    Example Usage
    -------------
    getCoronaVirusDataUSA('2020-03-24', by='state') returns a Pandas dataframe by U.S. state
    getCoroanVirusDataUSA('2020-03-24', by='county') returns a Pandas dataframe by U.S. country
    etCoronaVirusDataUSA('2020-03-24', by='county').filter(like='Ohio', axis='index') filtered to Ohio counties only
    """
    
    data_date: str = date.fromisoformat(iso_date).strftime('%m-%d-%Y')
    data_url: str = f"https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{data_date}.csv"
        
    df: DataFrame = pd.read_csv(data_url)
    df_us: DataFrame = df[df['Country_Region'] == 'US'].query("Confirmed > 0").rename(columns={'Admin2': 'County', 'Combined_Key': 'County_State'})
    
    if 'state' in by:
        confirmed: DataFrame = df_us.groupby('Province_State').agg('sum')['Confirmed'].sort_values(ascending=False).to_frame()
        deaths: DataFrame = df_us.groupby('Province_State').agg('sum')['Deaths'].sort_values(ascending=False).to_frame()
        merged: DataFrame = pd.merge(confirmed, deaths, how='left', left_index=True, right_index=True)
        
        return merged
    elif 'county' in by:
        confirmed: DataFrame = df_us.groupby('County_State').agg('sum')['Confirmed'].sort_values(ascending=False).to_frame()
        deaths: DataFrame = df_us.groupby('County_State').agg('sum')['Deaths'].sort_values(ascending=False).to_frame()
        merged: DataFrame = pd.merge(confirmed, deaths, how='left', left_index=True, right_index=True)
        
        return merged

In [3]:
latest_date = (date.today() + timedelta(days=-1)).strftime("%Y-%m-%d")
latest_date

'2020-03-29'

In [7]:
getCoronaVirusDataUSA(latest_date, by='state')

                      Confirmed  Deaths
Province_State
New York                  59648     806
New Jersey                13386     161
California                 5852     123
Michigan                   5488     132
Massachusetts              4955      48
Illinois                   4596      66
Washington                 4465     198
Florida                    4246      54
Louisiana                  3540     151
Pennsylvania               3432      41
Texas                      2792      37
Georgia                    2651      80
Colorado                   2307      47
Connecticut                1993      34
Tennessee                  1720       8
Ohio                       1653      29
Indiana                    1513      32
Maryland                   1239       9
North Carolina             1191       7
Wisconsin                  1164      18
Nevada                      920      15
Arizona                     919      11
Missouri                    915      13
Virginia                    890      15
Alabama                     825      10
South Carolina              774      16
Mississippi                 759      14
Utah                        720       2
Oregon                      548      13
Minnesota                   503       5
Kentucky                    438       9
Oklahoma                    429      16
Arkansas                    426       6
District of Columbia        342       5
Iowa                        336       4
Kansas                      330       7
Rhode Island                294       3
Idaho                       281       5
Maine                       253       3
New Mexico                  237       2
Vermont                     235      12
Delaware                    232       6
New Hampshire               214       2
Montana                     154       1
Hawaii                      149       0
Puerto Rico                 127       3
West Virginia               113       0
Nebraska                    108       2
Grand Princess              103       3
Alaska                      102       1
North Dakota                 98       1
South Dakota                 90       1
Wyoming                      86       0
Guam                         56       1
Diamond Princess             49       0

In [8]:
getCoronaVirusDataUSA(latest_date, by='county').filter(like='Ohio', axis='index')

                         Confirmed  Deaths
County_State
Cuyahoga, Ohio, US             440       3
Franklin, Ohio, US             247       3
Summit, Ohio, US                99       5
Lucas, Ohio, US                 94       2
Hamilton, Ohio, US              85       0
Mahoning, Ohio, US              84       2
Lorain, Ohio, US                74       0
Medina, Ohio, US                45       1
Miami, Ohio, US                 43       5
Trumbull, Ohio, US              36       2
Lake, Ohio, US                  35       1
Delaware, Ohio, US              31       0
Stark, Ohio, US                 29       2
Portage, Ohio, US               27       0
Butler, Ohio, US                27       0
Montgomery, Ohio, US            25       0
Warren, Ohio, US                20       0
Geauga, Ohio, US                17       0
Licking, Ohio, US               15       0
Fairfield, Ohio, US             14       0
Wood, Ohio, US                  12       0
Columbiana, Ohio, US            11       1
Clermont, Ohio, US               8       0
Belmont, Ohio, US                8       0
Clark, Ohio, US                  7       0
Ohio, West Virginia, US          6       0
Marion, Ohio, US                 6       0
Ashtabula, Ohio, US              6       0
Jefferson, Ohio, US              5       0
Tuscarawas, Ohio, US             5       0
Defiance, Ohio, US               5       0
Richland, Ohio, US               5       0
Erie, Ohio, US                   5       1
Madison, Ohio, US                4       0
Wayne, Ohio, US                  4       0
Pickaway, Ohio, US               4       0
Coshocton, Ohio, US              4       0
Allen, Ohio, US                  4       0
Carroll, Ohio, US                4       0
Clinton, Ohio, US                3       0
Athens, Ohio, US                 3       0
Hancock, Ohio, US                3       0
Darke, Ohio, US                  3       0
Greene, Ohio, US                 3       0
Washington, Ohio, US             3       0
Shelby, Ohio, US                 3       0
Knox, Ohio, US                   3       0
Union, Ohio, US                  3       0
Logan, Ohio, US                  3       0
Huron, Ohio, US                  3       0
Sandusky, Ohio, US               3       0
Mercer, Ohio, US                 2       0
Champaign, Ohio, US              2       0
Muskingum, Ohio, US              2       0
Crawford, Ohio, US               2       0
Auglaize, Ohio, US               2       0
Ashland, Ohio, US                2       0
Fulton, Ohio, US                 2       0
Seneca, Ohio, US                 1       0
Van Wert, Ohio, US               1       0
Wyandot, Ohio, US                1       0
Lawrence, Ohio, US               1       0
Gallia, Ohio, US                 1       1
Fayette, Ohio, US                1       0
Highland, Ohio, US               1       0
Pike, Ohio, US                   1       0
Ottawa, Ohio, US                 1       0
Ohio, Indiana, US                1       0

In [9]:
getCoronaVirusDataUSA(latest_date, by='county').filter(like='New York', axis='index')

                             Confirmed  Deaths
County_State
New York City, New York, US      33768     678
Westchester, New York, US         8519      10
Nassau, New York, US              6445      39
Suffolk, New York, US             5023      40
Rockland, New York, US            2209       8
Orange, New York, US              1247       5
Erie, New York, US                 414       7
Dutchess, New York, US             320       2
Monroe, New York, US               219       5
Albany, New York, US               205       1
Onondaga, New York, US             194       1
Ulster, New York, US               146       0
Putnam, New York, US               144       0
Saratoga, New York, US             102       0
Sullivan, New York, US              88       0
Schenectady, New York, US           76       1
Tompkins, New York, US              56       0
Rensselaer, New York, US            51       0
Niagara, New York, US               38       0
Columbia, New York, US              30       1
Madison, New York, US               29       1
Broome, New York, US                29       3
Oneida, New York, US                26       0
Warren, New York, US                18       0
Ontario, New York, US               18       0
Steuben, New York, US               17       0
Chenango, New York, US              15       0
Chemung, New York, US               15       0
Clinton, New York, US               13       0
Wayne, New York, US                 12       0
St. Lawrence, New York, US          12       0
Herkimer, New York, US              10       2
Livingston, New York, US            10       0
Oswego, New York, US                10       0
Otsego, New York, US                10       1
Genesee, New York, US                9       0
Washington, New York, US             9       0
Wyoming, New York, US                8       1
Cortland, New York, US               8       0
Delaware, New York, US               8       0
Chautauqua, New York, US             7       0
Greene, New York, US                 7       0
Jefferson, New York, US              7       0
Allegany, New York, US               6       0
Tioga, New York, US                  6       0
Franklin, New York, US               6       0
Montgomery, New York, US             6       0
Essex, New York, US                  5       0
Schoharie, New York, US              5       0
Cattaraugus, New York, US            4       0
Orleans, New York, US                3       0
Cayuga, New York, US                 2       0
Hamilton, New York, US               2       0
Schuyler, New York, US               1       0
Fulton, New York, US                 1       0